name: Release

on:
  pull_request:
    types: [closed]
    branches: [main]
  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  FORCE_COLOR: true

jobs:
  publish:
    name: Publish
    if: ${{github.repository_owner == 'x44'}} && (github.event_name == 'workflow_dispatch' || github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        
      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        
      - name: Setup Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 25
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build create-oxia
        run: pnpm run build:create-oxia
        
      - name: Build oxia
        run: pnpm run build:oxia
        
      - name: Build vscode
        run: pnpm run build:vscode
        
