name: Release

on:
  pull_request:
    types: [closed]
    branches: [main]
  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  FORCE_COLOR: true

jobs:
  publish:
    if: ${{github.repository_owner == 'x44'}} && (github.event_name == 'workflow_dispatch' || github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello, world!"
