name: Release

on:
  pull_request:
    types: [closed]
    branches: [main]
  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  FORCE_COLOR: true

jobs:
  release:
    name: Release
    if: ${{github.repository_owner == 'x44'}} && (github.event_name == 'workflow_dispatch' || github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0

      - name: Setup Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 25
          cache: pnpm

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Setup tsgo
        run: npm i -g @typescript/native-preview

      - name: Install dependencies
        run: pnpm install

      - name: Build create-oxia
        run: pnpm run build:create-oxia

      - name: Build oxia
        run: pnpm run build:oxia

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm exec changeset publish
          commit: "[ci] release"
          title: "[ci] release"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Using OIDC for npm authentication
          NPM_TOKEN: ''

      - name: Exit if changesets only created the Release Pull Request
        if: steps.changesets.outputs.published == 'false'
        run: exit 0

      - name: Build vscode
        run: pnpm run build:vscode

      - name: Publish to VS Code Marketplace
        run: cd packages/language-tools/vscode && vsce publish --skip-duplicate --pat $VSCE_TOKEN
        env:
          VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}
